// Place all the styles related to the play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: black;
}

#canvas, #hud, #mouse {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	margin: 0px !important;

	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;

	z-index: 0;
}

#body {
	cursor: url(/images/cursor.png) 32 32, auto;
}

/*#body:active {
	cursor: url(/images/click.png) 32 32, auto !important;
}*/

#canvas { z-index: 0; }
#hud { z-index: 1; }
#mouse { z-index: 2; } /* MOUSE ON TOP! */

#loadingScreen {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	margin: 0px !important;

	background-color: black;

	z-index: 1;
}

.absoluteCenter {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.loading {
	color: white;

	font-family: sans-serif;

	font-size: 4em;
}